/* Color Variables */

:root {
  --text: rgba(0, 0, 0, 0.349);
  --btnText: #f2f2f2;
  --btnBackground: #a1a2ac;
  --active: #d9bb29;
  --inactive: #cbcdd8;
  --background: #f2f2f2;
  --secondary: #f2f2f2;
}

/* TOGGLE BUTTON */
.toggle-container {
  position: fixed;
  top: 10%;
  right: 10%;
  transform: translate(-50%, -50%);
}

.toggle-btn {
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 50px;
  box-shadow: 0 8px 16px 0 rgba(245, 241, 241, 0.2);
}

.icon {
  font-size: 1.5rem;
  padding: 0.3rem 0.9rem;
  color: var(--inactive);
}

/* CARD STYLES */
/* .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */
/* .card {
  padding: 2rem;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background: var(--secondary);
} */

.toggle-btn:hover {
  box-shadow: 0 4px 8px 0 rgb(245, 239, 239);
}

/* .card button {
  background: var(--btnBackground);
  border-radius: 50px;
  padding: 0.8rem 1.2rem;
  color: var(--btnText);
  border: none;
  outline: none;
} */

.active {
  color: #d99b29;
}

@media (max-width: 400px) {
  /* .card-container {
    margin-top: 40%;
  } */

  .toggle-container {
    top: 10%;
    right: 20%;
  }
}
